oidc-sample-be/.idea
oidc-sample-be/__pycache__
oidc-sample-be/venv
oidc-sample-be/**/__pycache__

oidc-sample-fe/dist
oidc-sample-fe/tmp
oidc-sample-fe/out-tsc
oidc-sample-fe/bazel-out
oidc-sample-fe/node_modules
oidc-sample-fe/npm-debug.log
oidc-sample-fe/yarn-error.log

oidc-sample-fe/.idea/
oidc-sample-fe/.project
oidc-sample-fe/.classpath
oidc-sample-fe/.c9/
oidc-sample-fe/*.launch
oidc-sample-fe/.settings/
oidc-sample-fe/*.sublime-workspace

oidc-sample-fe/.vscode/*
!oidc-sample-fe/.vscode/settings.json
!oidc-sample-fe/.vscode/tasks.json
!oidc-sample-fe/.vscode/launch.json
!oidc-sample-fe/.vscode/extensions.json
oidc-sample-fe/.history/*

oidc-sample-fe/.angular/cache
oidc-sample-fe/.sass-cache/
oidc-sample-fe/connect.lock
oidc-sample-fe/coverage
oidc-sample-fe/libpeerconnection.log
oidc-sample-fe/testem.log
oidc-sample-fe/typings

oidc-sample-fe/.DS_Store
oidc-sample-fe/Thumbs.db